
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>思子的问答 - 蚂蜂窝</title>


<script type="text/javascript">
window.Env = {"target_uid":79568445,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","UID":0,"CSTK":"ad00369565f5f8efcb43b342e65e61a4_e60f77c024e3eabcea3a3b98f73646a3","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","disable_cors":true};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1498629963.css" rel="stylesheet" type="text/css"/>


<link href="http://css.mafengwo.net/css/cv/css+home_new2015+home_new2015:css+home_new2015+home_ask_v2^Zl0^1498530603.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1505811641.js" type="text/javascript" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="蚂蜂窝自由行" href="/">蚂蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">蚂蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">蚂蜂窝高校</a>
                            <a href="/photo_pk/pk.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">蚂蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-f2595956fd5b47321c28f577c235d96e" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
    



<input type="hidden" id="_j_param" data-type="1" data-flag="0" data-total="91" data-uid="79568445">
<div class="main">
    <div class="banner">
    
    <style>
    .invisible {opacity:0.01; filter: alpha(opacity=1);}
    .invisible .maps-container {opacity:0.01; filter: alpha(opacity=1);}
    </style>
    
    <div class="banner_img banner_ask" id="_j_banner">
            </div>
    <div class="tags_bar second_tags_bar">
    <div class="center clearfix">
                                                <div data-pagelet id="pagelet-block-833c7e0a5e3aa17f0d58b3f5c4728f09" class="" data-api=":home:pagelet:unSafeApi" data-params="{&quot;uid&quot;:79568445}" data-async="1" data-controller=""></div>
                <ul class="flt2">
            <li><a class="tags_link" href="/u/79568445.html" title="TA的窝">TA的窝</a></li>
            <li><a class="tags_link" href="/u/79568445/note.html" title="TA的游记">TA的游记</a></li>
            <li class="on"><a class="tags_link" href="/wenda/u/79568445/answer.html" title="TA的问答">TA的问答</a></li>
            <li id="_j_pathnav"><a class="tags_link" href="/path/79568445.html" title="TA的足迹">TA的足迹</a></li>
            <li><a class="tags_link" href="/u/79568445/review.html" title="TA的点评">TA的点评</a></li>
            <li><a class="tags_link" href="/u/79568445/together.html" title="TA的结伴">TA的结伴</a></li>
                    </ul>
    </div>
</div>

</div>

    <div class="center">
        <div class="side_bar flt1">
    <div class="MAvatar">
        <div class="MAvaImg hasAva">
            <img src="http://n3-q.mafengwo.net/s10/M00/AD/8B/wKgBZ1jHVISAaHSDABsunyDyW3o72.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" height="120" width="120" alt="思子"><i class="MAvaTagfengshou"></i>
        </div>
        <div class="MAvaName">思子
                <i class="MGenderFemale"></i>                </div>
        <div class="its_tags">
                                        <a href="/home/vip_show.php" target="_blank" title="VIP"><i class="vip vip_on"></i></a>
                <a href="/rudder/info.php" target="_blank" title="分舵"><i class="duo"></i>
                <a href="/qa/expert_apply.php?type=1" target="_blank" title="指路人"><i class="zhiluren"></i></a>
                                                </div>
        <div class="MAvaInfo clearfix">
            <span class="MAvaLevel flt1">等级：<a title="Lv.32" target="_blank">Lv.32</a></span>
            <span class="MAvaPlace flt1" title="成都">现居：成都</span>            <span class="MAvaSet"><a title="设置" href="/setting/" target="_blank"></a></span>
        </div>
                <div class="MAvaProfile">
            <div class="MProfile"><pre>微信公众号：思子记
微信：Free_si
微博：SiSi思子</pre></div>
        </div>
                            <div class="MAvaAction">
                <a role="button" data-japp="following" data-uid="79568445" data-follow_class="MAvaAttentioned" class="MAvaBtn MAvaAttention">
                    <span class="MAing">关注</span>
                    <span class="MAed">已关注</span>
                    <span class="MAcancel">取消关注</span>
                </a>
                <a role="button" data-japp="send_message" data-to_uid="79568445" data-to_uname="思子" class="MAvaBtn MAvaEmail" title="私信">私信</a>
            </div>
                <div class="MAvaMore clearfix">
            <div class="MAvaNums">
                <strong><a href="/friend/index/follow?uid=79568445" target="_blank">54</a></strong>
                <p>关注</p>
            </div>
            <div class="MAvaNums">
                <strong><a href="/friend/index/follow?uid=79568445&flag=1" target="_blank">3960</a></strong>
                <p>粉丝</p>
            </div>
            <div class="MAvaNums last">
                <strong><a href="/mall/" target="_blank">6752</a></strong>
                <p>蜂蜜</p>
            </div>
        </div>
    </div>

    <div class="MWendaMod">
        <h3>TA的问答荣誉</h3>
        <ul class="wendaHonor">
            <li><a class="zlr" href="/qa/expert_apply.php" target="_blank"><i></i>蚂蜂窝指路人</a></li>
            <li><a class="mdd-zlr" href="/qa/expert_apply.php?type=1" target="_blank"><i></i>目的地指路人</a></li>
            <li><a class="goldmaster" href=" http://www.mafengwo.cn/g/i/3136909.html" target="_blank"><i></i>金牌大师</a></li>
        </ul>
    </div>

    
            <div class="MUsers">
    <div class="MUsersTitle">最新访客</div>
    <div class="MUsersDetail">
        <ul class="clearfix">
                        <li>
                <a href="/u/55574345.html" target="_blank"><img src="http://p1-q.mafengwo.net/s10/M00/45/70/wKgBZ1ljZ4mAFU-2AACGHTACkzM83.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="BB乐在其"></a>
                <p><a href="/u/55574345.html" target="_blank" title="BB乐在其">BB乐在其</a></p>
            </li>
                        <li>
                <a href="/u/53655899.html" target="_blank"><img src="http://n3-q.mafengwo.net/s8/M00/78/D6/wKgBpVWt3viAA37bAAXYsslU_1033.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="嘿-乍暖"></a>
                <p><a href="/u/53655899.html" target="_blank" title="嘿-乍暖">嘿-乍暖</a></p>
            </li>
                        <li>
                <a href="/u/84476111.html" target="_blank"><img src="http://b3-q.mafengwo.net/s10/M00/F9/73/wKgBZ1kT-BuASvAjAACRhS0TBMM28.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="叁言梁语"></a>
                <p><a href="/u/84476111.html" target="_blank" title="叁言梁语">叁言梁语</a></p>
            </li>
                        <li>
                <a href="/u/17137527.html" target="_blank"><img src="http://p4-q.mafengwo.net/s5/M00/5D/45/wKgB3FCsPZWAP-wnAAQGs7UJEj423.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="CamerArt"></a>
                <p><a href="/u/17137527.html" target="_blank" title="CamerArt">CamerArt</a></p>
            </li>
                        <li>
                <a href="/u/81900891.html" target="_blank"><img src="http://b4-q.mafengwo.net/s9/M00/60/81/wKgBs1hp7IGATqvOAAxeczFOS6062.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="wb9528"></a>
                <p><a href="/u/81900891.html" target="_blank" title="wb9528">wb9528</a></p>
            </li>
                        <li>
                <a href="/u/92845927.html" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/7E/12/wKgBZ1nbjEaAIBJaAABjTL-BMqg11.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="RUIYUKOU"></a>
                <p><a href="/u/92845927.html" target="_blank" title="RUIYUKOU">RUIYUKOU</a></p>
            </li>
                        <li>
                <a href="/u/57727104.html" target="_blank"><img src="http://n1-q.mafengwo.net/s10/M00/50/80/wKgBZ1mZCa6AGCWdAA6TdGiiB4U65.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="CHONGCHI"></a>
                <p><a href="/u/57727104.html" target="_blank" title="CHONGCHI">CHONGCHI</a></p>
            </li>
                        <li>
                <a href="/u/91582506.html" target="_blank"><img src="http://p2-q.mafengwo.net/s10/M00/CD/CC/wKgBZ1l3XemAQ-n4AAB5vKEKAxs25.jpeg?imageMogr2%2Fthumbnail%2F%2180x80r%2Fgravity%2FCenter%2Fcrop%2F%2180x80%2Fquality%2F90" height="48" width="48" alt="阿年YearAunt" title="Amanda-"></a>
                <p><a href="/u/91582506.html" target="_blank" title="Amanda-">Amanda-</a></p>
            </li>
                    </ul>
        <!--<div class="MSimplePages"><span class="MPrev" title="上一页"></span><span class="MNext" title="下一页"></span></div>-->
    </div>
    <div class="MUsersBehavior">
        <span>累计访问<i>24364</i></span><span>今日<i>309</i></span>
    </div>
</div>

    
            <div class="MGuestbook" id="_j_msgboard_wrap">
    <div class="MGuestTitle">留言板
            </div>
    <div class="MGuestInput">
        <textarea class="_j_msgboard_area" placeholder="给楼主留个脚印，说点什么..."></textarea>
        <a role="button" class="MGuestBtn" title="留言" id="_j_msgboard_submit">留言</a>
    </div>
    <div class="MGuestList">
        <ul class="_j_msgboard_list">
            <li>
    <dl>
        <dt class="clearfix">
            <a href="/u/79568445.html" class="MGuestAvatar" target="_blank"><img src="http://n3-q.mafengwo.net/s10/M00/AD/8B/wKgBZ1jHVISAaHSDABsunyDyW3o72.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90" height="48" width="48" alt="思子"></a>
            <a href="/u/79568445.html" class="MGuestName" target="_blank" title="思子">思子</a>
            <p>2016-07-26 16:53:29</p>
        </dt>
        <dd>
            <div class="MGuestText">
                                                                <p>回复 Bamboo : <span class="_j_msgcontent">抱抱！</span> <a role="button" title="回复" class="MGuestReply _j_reply" data-id="764152">回复</a><a role="button" title="举报" class="MGuestReply" data-japp="report" data-refer="http://www.mafengwo.cn/u/79568445.html" data-refer-uid="79568445" data-app="wo.comment">举报</a></p>
            </div>
            <div class="MGuestReply"></div>
        </dd>
    </dl>
</li>
<li>
    <dl>
        <dt class="clearfix">
            <a href="/u/43222172.html" class="MGuestAvatar" target="_blank"><img src="http://n4-q.mafengwo.net/s9/M00/5B/F8/wKgBs1dVGaqAYO04AAdkE1p9M6M91.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90" height="48" width="48" alt="Bamboo"></a>
            <a href="/u/43222172.html" class="MGuestName" target="_blank" title="Bamboo">Bamboo</a>
            <p>2016-07-26 10:38:29</p>
        </dt>
        <dd>
            <div class="MGuestText">
                                                                <p><span class="_j_msgcontent">哈哈哈 来点个赞</span> <a role="button" title="回复" class="MGuestReply _j_reply" data-id="764130">回复</a><a role="button" title="举报" class="MGuestReply" data-japp="report" data-refer="http://www.mafengwo.cn/u/43222172.html" data-refer-uid="43222172" data-app="wo.comment">举报</a></p>
            </div>
            <div class="MGuestReply"></div>
        </dd>
    </dl>
</li>
<li>
    <dl>
        <dt class="clearfix">
            <a href="/u/116988.html" class="MGuestAvatar" target="_blank"><img src="http://c4-q.mafengwo.net/s1/M00/0D/49/wKgBm02Vx42q66rLAAAbTjm7W7M31.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90" height="48" width="48" alt="君子遨游世界"></a>
            <a href="/u/116988.html" class="MGuestName" target="_blank" title="君子遨游世界">君子遨游世界</a>
            <p>2015-08-13 12:10:42</p>
        </dt>
        <dd>
            <div class="MGuestText">
                                                                                                                <p><span class="_j_msgcontent" data-content="http://imfw.cn/l/771153  请帮忙投票，非常感谢！！！" data-contentbrief="http://imfw.cn/l/771153  请帮忙投票，非常感谢">http://imfw.cn/l/771153  请帮忙投票，非常感谢...<a role="button" class="MDownMore _js_viewAll" title="全部"></a></span> <a role="button" title="回复" class="MGuestReply _j_reply" data-id="3812">回复</a><a role="button" title="举报" class="MGuestReply" data-japp="report" data-refer="http://www.mafengwo.cn/u/116988.html" data-refer-uid="116988" data-app="wo.comment">举报</a></p>
            </div>
            <div class="MGuestReply"></div>
        </dd>
    </dl>
</li>
<li>
    <dl>
        <dt class="clearfix">
            <a href="/u/79568445.html" class="MGuestAvatar" target="_blank"><img src="http://n3-q.mafengwo.net/s10/M00/AD/8B/wKgBZ1jHVISAaHSDABsunyDyW3o72.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90" height="48" width="48" alt="思子"></a>
            <a href="/u/79568445.html" class="MGuestName" target="_blank" title="思子">思子</a>
            <p>2015-07-21 10:52:03</p>
        </dt>
        <dd>
            <div class="MGuestText">
                                                                <p>回复 lovers灰灰 : <span class="_j_msgcontent">建议按照我游记的路线去何园、个园以及瘦西湖~</span> <a role="button" title="回复" class="MGuestReply _j_reply" data-id="636">回复</a><a role="button" title="举报" class="MGuestReply" data-japp="report" data-refer="http://www.mafengwo.cn/u/79568445.html" data-refer-uid="79568445" data-app="wo.comment">举报</a></p>
            </div>
            <div class="MGuestReply"></div>
        </dd>
    </dl>
</li>
<li>
    <dl>
        <dt class="clearfix">
            <a href="/u/47696056.html" class="MGuestAvatar" target="_blank"><img src="http://p3-q.mafengwo.net/s8/M00/40/41/wKgBpVWmTyWAK_-0AABwjnttXFg01.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90" height="48" width="48" alt="lovers灰灰"></a>
            <a href="/u/47696056.html" class="MGuestName" target="_blank" title="lovers灰灰">lovers灰灰</a>
            <p>2015-07-15 21:57:41</p>
        </dt>
        <dd>
            <div class="MGuestText">
                                                                                                                <p><span class="_j_msgcontent" data-content="楼主好，今年八月打算去扬州，我看到你的游记，觉得挺不错的，能不能给我一点游行建议呢？计划在扬州呆两天。。谢谢" data-contentbrief="楼主好，今年八月打算去扬州，我看到你的游记，觉得挺不错的，能不能给我一">楼主好，今年八月打算去扬州，我看到你的游记，觉得挺不错的，能不能给我一...<a role="button" class="MDownMore _js_viewAll" title="全部"></a></span> <a role="button" title="回复" class="MGuestReply _j_reply" data-id="185">回复</a><a role="button" title="举报" class="MGuestReply" data-japp="report" data-refer="http://www.mafengwo.cn/u/47696056.html" data-refer-uid="47696056" data-app="wo.comment">举报</a></p>
            </div>
            <div class="MGuestReply"></div>
        </dd>
    </dl>
</li>

        </ul>
            </div>
</div>


    </div>
        <div class="content flt2">
    <div class="achievement clearfix">
        <ul>
            <li><a href="/wenda/u/79568445/answer.html"><strong>91</strong><div>回答数</div></a></li>
            <li>
                                    <strong class="goldmedal"><i></i>0</strong><div>金牌回答</div>
                            </li>
            <li><strong>12%</strong><div>采纳率</div></li>
        </ul>
                    <a class="btn" href="/wenda/publish.html?ask_uid=79568445">向TA提问</a>
            </div>
    <div class="wd-main">
    <div class="wd-navbar clearfix">
    <ul class="wd-nav _j_qa_nav">
        <li class="on"><a href="/wenda/u/79568445/answer.html">TA的回答</a></li>
        <li ><a href="/wenda/u/79568445/question.html">TA的提问</a></li>
            </ul>
</div>
<div class="wd-dropdown _j_cange_type_dropdown" >
    <div class="trigger _j_change_type_div">
        <i class="i-down"></i>
        <span class="_j_change_text value">
                                                所有回答
                                    </span>
    </div>
    <ul class="dropdown-menu _j_change_type_ul hide">
                    <li class="_j_change_flag" data-flag="0">全部回答</li>
            <li class="_j_change_flag" data-flag="1">金牌回答</li>
            <li class="_j_change_flag" data-flag="2">题主采纳</li>
                            <li class="optgroup">目的地筛选</li>
                                    <li class="_j_change_mdd" data-mddid="10128" data-name="扬州">扬州 24</li>
                                    <li class="_j_change_mdd" data-mddid="10143" data-name="峨眉山">峨眉山 23</li>
                                    <li class="_j_change_mdd" data-mddid="14458" data-name="兴化">兴化 9</li>
                                    <li class="_j_change_mdd" data-mddid="12788" data-name="青海">青海 7</li>
                                    <li class="_j_change_mdd" data-mddid="12700" data-name="西藏">西藏 5</li>
                                    <li class="_j_change_mdd" data-mddid="10069" data-name="尼泊尔">尼泊尔 5</li>
                                    <li class="_j_change_mdd" data-mddid="10035" data-name="成都">成都 4</li>
                                    <li class="_j_change_mdd" data-mddid="21536" data-name="中国">中国 3</li>
                                    <li class="_j_change_mdd" data-mddid="10208" data-name="重庆">重庆 2</li>
                                    <li class="_j_change_mdd" data-mddid="10163" data-name="都江堰">都江堰 1</li>
                                    <li class="_j_change_mdd" data-mddid="15943" data-name="玉龙雪山">玉龙雪山 1</li>
                                    <li class="_j_change_mdd" data-mddid="10132" data-name="厦门">厦门 1</li>
                                    <li class="_j_change_mdd" data-mddid="10186" data-name="丽江">丽江 1</li>
                                    <li class="_j_change_mdd" data-mddid="10195" data-name="西安">西安 1</li>
                                    <li class="_j_change_mdd" data-mddid="10799" data-name="青海湖">青海湖 1</li>
                                    <li class="_j_change_mdd" data-mddid="10800" data-name="西宁">西宁 1</li>
                                    <li class="_j_change_mdd" data-mddid="11527" data-name="云台山">云台山 1</li>
                                    <li class="_j_change_mdd" data-mddid="10564" data-name="若尔盖">若尔盖 1</li>
                                        </ul>
</div>
<div class="wd-total">共有<span class="_j_total_item">91条</span>回答</div>
    <div class="wd-list _j_qa_list">
        
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-7716891-7720334.html" target="_blank"><span class="label-mdd"><i></i>扬州</span>长乐客栈不住能进去免费参观吗？</a>
                            </div>
            <div class="wd-detail">
                                                门口有看门的……估计你可以装做是住客进去……
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-09-29 10:31</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5695126-5696986.html" target="_blank"><span class="label-mdd"><i></i>兴化</span>想4月17日去兴化看油菜花，不知是否太晚？</a>
                            </div>
            <div class="wd-detail">
                                                不晚，还可以看到
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">1评论</span>
                    <span class="meta-item meta-time">2016-04-05 15:43</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5595815-5597917.html" target="_blank"><span class="label-mdd"><i></i>兴化</span>周末去兴化，还不是油菜花节，那从泰州火车站有车去千岛油菜花田吗？</a>
                            </div>
            <div class="wd-detail">
                                                    <span class="s-adopt">
                        [题主采纳]
                    </span>
                                从泰州先坐到兴化，从兴化再转车去油菜花
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">3评论</span>
                    <span class="meta-item meta-time">2016-03-23 23:15</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5594840-5595926.html" target="_blank"><span class="label-mdd"><i></i>兴化</span>请问兴化千岛菜花景区附近有什么能吃中午饭的地方么</a>
                            </div>
            <div class="wd-detail">
                                                景区大门外全是吃饭的地方
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-23 18:07</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5524866-5527669.html" target="_blank"><span class="label-mdd"><i></i>扬州</span>扬州清明时节的天气以及旅游路线推荐</a>
                            </div>
            <div class="wd-detail">
                                                带件厚外套。路线看我游记吧。
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-15 09:10</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5517796-5519214.html" target="_blank"><span class="label-mdd"><i></i>兴化</span>关于四月 上旬去兴化看油菜花的住宿的问题</a>
                            </div>
            <div class="wd-detail">
                                                门票就一天，不能第二天用哈。只能住景区外，因为景区内基本就没有建筑物只有油菜花额。其实兴化油菜花不是太大，几小时逛完全够了。李中水上森林的水杉四月时应该还没有发芽或者刚刚发芽，景色不是最佳时。这个看个人吧，如果你是南方的，吸引力不会太大。
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>2
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-14 09:13</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5269895-5467068.html" target="_blank"><span class="label-mdd"><i></i>峨眉山</span>有近期去峨眉山的朋友么？天气如何呢？</a>
                            </div>
            <div class="wd-detail">
                                                冬季四川的大部分地区基本上都是灰蒙蒙的，乐山市也不会例外。若是出游能碰上阳光普照的日子那一定是人品爆发的结果。尽管如此，冬季依然是最容易看到峨眉四大奇观的季节了。曾看过一个网友这样形容四川的山和雾：四川的灰，不是那种简单的灰，而是幽邃的...
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>1
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-07 13:09</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5279081-5467066.html" target="_blank"><span class="label-mdd"><i></i>峨眉山</span>请问现在去峨眉山住宿好解决不？人多不多啊？</a>
                            </div>
            <div class="wd-detail">
                                                在携程艺龙什么的提前订好就是了
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-07 13:08</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5296434-5467061.html" target="_blank"><span class="label-mdd"><i></i>峨眉山</span>乐山。求助自由行乐山峨眉山攻略</a>
                            </div>
            <div class="wd-detail">
                                                建议四天。
DAY1：乐山，游览乐山大佛景区；乐山大佛——峨眉山山脚，泡温泉，宿报国寺周围
DAY2：报国寺——峨眉山博物馆——雷洞坪——徒步金顶，宿金顶
DAY3：金顶——雷洞坪——滑雪场——五显岗，宿五显岗
DAY4：五显岗——清音平湖——双桥清音——...
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>2
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-07 13:07</span>
                                    </div>
            </div>
        </div>
                    <div class="wd-item">
            <div class="wd-medal">
                            </div>
            <div class="wd-title">
                                    <a href="/wenda/detail-5297238-5467059.html" target="_blank"><span class="label-mdd"><i></i>峨眉山</span>请教峨眉山一日游时间怎么安排比较合理</a>
                            </div>
            <div class="wd-detail">
                                                一日游太紧了，只能直接去金顶了
            </div>
            <div class="wd-meta">
                <span class="meta-item meta-like">
                    <i></i>0
                </span>
                <div class="meta-pull">
                    <span class="meta-item meta-commit">0评论</span>
                    <span class="meta-item meta-time">2016-03-07 13:07</span>
                                    </div>
            </div>
        </div>
    
    </div>
    <div class="pagin" id="smallpager"></div>
</div>
</div>
    </div>
</div>

    <script type="text/x-jquery-tmpl" id="_j_pagitmpl">
    {{if pageTotal > 1}}
	    <div align="right" class="m-pagination">
            <span class="count">共<span>${pageTotal}</span>页 / <span>${total}</span>条</span>
             {{if currPage > 1}}
				<a class="pg-prev _j_pageitem" data-page="${currPage - 1}">&lt;&lt; 上一页</a>
                {{/if}}
				{{if indexers[indexers.length-1] > 10}}
                <a class="ti _j_pageitem" data-page="1">1...</a>
                {{/if}}
                {{each(i, index) indexers}}
                {{if index == currPage}}
                <span class="pi pg-current">${index}</span>
                {{else}}
                <a class="pi _j_pageitem" data-page="${index}">${index}</a>
                {{/if}}
                {{/each}}
                {{if indexers[indexers.length-1] < pageTotal}}
                <a class="pi _j_pageitem" data-page="${pageTotal}">...${pageTotal}</a>
                {{/if}}
                {{if currPage < pageTotal}}
				<a class="pg-next _j_pageitem" data-page="${currPage + 1}">下一页 &gt;&gt;</a>
            {{/if}}
        </div>
    {{/if}}
</script>

<link href="http://css.mafengwo.net/css/mfw-footer.css?1493174418" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+AHeaderWo:js+jquery.tmpl:js+M+module+Pagination:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+qa+QaHome:js+M+module+dialog+confirm:js+M+module+FrequencyVerifyControl:js+M+module+FrequencyAppVerify:js+home+AMsgBoard:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^Zl1Q^1500358831.js");
}
</script>

</body>
</html>
